[submodule "Worked-Example-Miner"]
	path = Worked-Example-Miner
	url = https://github.com/BrenoFariasdaSilva/Worked-Example-Miner
[submodule "Scientific-Research"]
	path = Scientific-Research
	url = https://github.com/BrenoFariasdaSilva/Scientific-Research
[submodule "Multi-Format-Dataset-Converter"]
	path = Multi-Format-Dataset-Converter
	url = https://github.com/BrenoFariasdaSilva/Multi-Format-Dataset-Converter.git
[submodule "Datasets-Features-Compatibility"]
	path = Datasets-Features-Compatibility
	url = https://github.com/BrenoFariasdaSilva/Datasets-Features-Compatibility.git
