# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# System Files
**/.DS_Store
**/Thumbs.db
Icon? # match Icon<CR>
**/Icon? # explicit: match at any nested level

# Ignore the Windows .Desktop Files
**/desktop.ini

# Ignore the Compressed Files
**/.zip
**/.rar
**/*.gz
**/*.7z
**/*.tar.gz

# Ignore the Data Directories
# Input folders
**/Input/*
**/Inputs/*
**/input/*
**/inputs/*

# Output folders
**/Output/*
**/Outputs/*
**/output/*
**/outputs/*

# Data folders
**/Dados/*
**/Data/*
**/dados/*
**/data/*

# Dataset folders
**/Dataset/*
**/Datasets/*
**/dataset/*
**/datasets/*

# Results folders
**/Result/*
**/Results/*
**/result/*
**/results/*

!.assets/*

# Ignore the Data Files
**/*.csv
**/*.json
**/*.xml
**/*.xls
**/*.xlsx
**/*.txt
**/*.parquet
**/*.arff
**/*.png
**/*.jpg
**/*.jpeg
**/*.gif
**/*.bmp
**/*.tiff
**/*.svg
**/*.~lock*
!**/requirements.txt
!**/README.md

# Environments
**/.env
**/.venv
**/env/
**/venv/
**/ENV/
**/env.bak/
**/venv.bak/