# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore the MacOS DS_Store Files
.DS_Store

# Ignore the Windows .Desktop Files
desktop.ini

# Ignore the Compressed Files
*.zip
*.rar
*.gz
*.7z
.tar.gz

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/